html {
    box-sizing: border-box;
    color: #424040;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    line-height: 24px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

/* header */

header {
    margin-top: 75px;
    margin-bottom: 105px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

 .nav_list a {
    text-decoration: none;
    color: #424040;
    text-transform: uppercase;
    transition: ;
}

.nav_list a:hover {
   color: #03a9f4; 
}

/* main */

.article_list {
    list-style: none;

}

.art_li {
    /* width: 420px;
    margin-bottom: 140px; */
    display: inline-block;
    margin-right: 56px;
}

.art_li:nth-child(2n) {
    margin-right: 0;
}


article {
    width: 420px;
    margin-bottom: 140px;
}

img {
    margin-bottom: 30px;
}

.pref {
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    color: #b4ad9e;
}

button {
    margin: 0 auto;
    background: none;
    padding: 23px 35px;
    border: 1px solid #424040;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

